* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0,118,58);
  background: radial-gradient(circle, rgba(0,118,58,1) 57%, rgba(251,0,0,0.7511379551820728) 93%);
  font-family: "Lucida Console", "Courier New", monospace;
}

.roullete{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roullete img {
  transform: translateY(40px);
  width: 80px;
  height: 120px;
  padding-left: 5px;
  padding-right: 5px;
  /* margin-top: 40px; */
  /* margin: 10px; */
}

.roulette-game {
  display: flex;
  flex-direction: column;
  width: 40vmin;
  height:20vmin;
  align-items: center;
  transform: translateY(-100px);
}

.roulette-game img {
  cursor: pointer;
  
  width: 100px;
  height: 100px;
}

.roulette-game img:hover, .roulette-game img:focus, .roulette-game img:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.roulette-game img:active {
  transform: scale(0.9);
}

.roulette-game h3, h4 {
  /* font-size:larger; */
  padding: 20px;
}

.table {
  /* background-color: #00763A; */
  width: 110vmin;
  height:  70vmin;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.board-all {
  position:absolute;
  /* border: 2px solid white; */
  height: 40vh;
  width: 95vmin;
  transform: translateY(-20px);
  display: flex;
}

.board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.boardZero{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem; /*change the size to 3rem*/
  color: white;
  cursor: pointer;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  user-select: none;
}

.boardSquare {
  font-size: 2.5rem;
  border: 1px solid white;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}


.boardSquare:hover > p, .boardZero:hover > p {
  color: #254552;
  transform: scale(1.5);

}